.containerMenu{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    user-select: none;
}
.logoMenu{
    margin-top: 5em;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}
.imgLogo{
    width: 65%;
}
/* Agrega esto a tu archivo menu.css */
.opcionesMenu{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0px;
    align-items: center;
}
.option{
    display: flex;
    flex-direction: row;
   width: 75%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.icon{
    margin-left: 1em;
    margin-right: 1em;
    width: 1.3em;
}
.optionText{
    font-size: 0.9em;
    color: #6A6A6A;
    margin: 0.7em;
    font-weight: 400;
}

.option:hover{
    background-color: #E4F0FF;
    border-radius: 10px;
}