.cardEspecie {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
   justify-content: space-between ;
    user-select: none;
    background-color: var(--fondoBlanco);
    border-radius: 15px;
    border: 1px solid var(--contorno);
    
}

.cardEspecieTitulo{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    
   
}
.contentValue{
    margin-left: 0.8em;
    
    display: flex;
    align-items: start;
    justify-content: start;
    text-align: start;
}
.EspecieTitle{
    margin: 0;
    font-size: 1em;
    font-weight: 400;
    color: var(--colorTitle);
}
.cardEspecieValue{
    padding: 0;
    margin: 0;
   font-size: 2.5em;
    font-weight: 700;
    color: var(--colorTitle);
    ;
}

.Icono{
    width: 23px;
}