.container {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    border: 1px solid var(--contorno);
    user-select: none;
  }
  
  .containerGraphicDonut{
    margin: 1.5em;
    width: 90%;
    
    
    position: relative;
  }
  .grafico {
    width: 45%; /* Ajusta el ancho al 100% del contenedor */
    height: auto; /* Deja que la altura se ajuste automáticamente */
  }
  
  .titleGraphic{
    margin-top: 0.5em;
    color: var(--colorTitle);
  }