.containerCardTable {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 1em; /* aproximadamente 16px */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
user-select: none;
border: 1px solid var(--contorno);
}

.elementsTopContainer {
    margin-top: 0.625em; /* 10px / 16px = 0.625em */
    width: 92%;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TitleTable {
    font-family: "Nokora", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.125em; /* 18px / 16px = 1.125em */
    color: #1F3139;
    padding: 5px;
    transition: all 0.3s ease-in-out;
}
.TitleTable:hover{
    background-color: #1f313910;
    cursor: pointer;
    padding: 5px;
    border-radius: 0.5em;
}

.inputSearch {
    width: 10em; /* 200px / 16px = 12.5em */
    height: 1.125em; /* 18px / 16px = 1.125em */
    font-size: 0.8em;
    text-align: center;
    color: #1F3139;
    background-color: white;
    border: 1px solid var(--contorno);
    border-radius: 0.313em; /* 5px / 16px = 0.313em */
    margin-left: 8em;
    user-select: contain;
    padding: 0.25em;
    transition: all 0.3s ease-in-out;

}
.inputSearch:focus{
    outline: none;
    border: 1px solid #1f3139a6;
    box-shadow: 0px 0px 5px 0px #1f313911;
}

.containerTable {

    width: 90%;
    max-height: 75%;
    overflow-y: auto;
    margin: 0px;
    margin-bottom: 1.875em; /* 30px / 16px = 1.875em */
    padding-right: 1.5em; /* Ajusta este valor según tus preferencias */
}

.tableT2 {
    width: 100%;
    border-collapse: collapse;
    color: #373737;
    font-size: 0.938em;
    transition: all 0.3s ease-in-out;
    background-color: #DAFFFB;
    
}

.thdT2 {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    color: #7D7D7D;
    margin: 1px;
    
}


.thdT12,
.tdT2 {
    padding: 0.5em;
    text-align: left;
}

.trT2 {
    color: #373737;
    overflow: hidden;
    border: 0.7em solid #ffffff;
    
    
}
.trT2:nth-child(even){
    background-color: #C1EEE9;
}


