.bodyHome {
    background-color: #F2F2F2;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;


}

/*------------------------------------------- Menu------------*/
.navHome {
    height: 100vh;
    width: 15%;
    min-width: 220px;
    max-width: 300px;
    padding: 0;
    display: flex;

}

.mainHome {
    width: 85%;
   
}

.headerHome {
    width: 100%;
    height: 10%;

    max-height: 70px;
}

.containerHome {
    height:90%;
    width: 100%;
    display: flex;
    flex-direction: row;

}

.sectionLeft {
    width: 50%;
    height: 100%;

    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}

.sectionRight {
    width: 50%;
    height: 100%;

    overflow: auto;
    max-width: 550px;
}

/*---------------------------------- SECTION IZQUIERDA -----------------------------------*/
.containerCards {
    width: 97%;
    height: auto;
    margin-top: 0.5em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.card {
    width: 32%;
    height: 110px;

    
}

.Table {
    margin-top: 0.5em;
    width: 97%;
    height: auto;
    min-height: 300px;

}

.separator {
    width: 100%;
    height: 0.5em;
    margin-top: 0.5em;
}

/*---------------------------------- SECTION DERECHA -----------------------------------*/


.Graphic {
    margin-top: 0.5em;
    width: 97%;
    height: auto;
    min-height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ContainerParameters {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    

}

.CardParameters {
    margin: 0.5em;
    width: 40%;
    height: auto;
    min-height: 260px;

}



@media only screen and (min-width: 1380px) {

    .sectionLeft {

        width: 40%;
        margin-right: 1em;
    }

    .sectionRight {

        width: 40%;
        
    }

    .containerHome {
        justify-content: center;
    }

    .Graphic {
        
        width: 100%;
        min-height: 200px;
    }
    .CardParameters {
        margin: 0.5em;
        width: 50%;
        height: auto;
        min-height: 260px;
    
    }
    
}