.bodyHome{
    background-color: rgb(221, 221, 221);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
   
 
}

/*------------------------------------------- Menu------------*/
.navHome{
    height: 100vh;
    width: 15%;
    min-width: 220px;
    max-width: 300px;
    padding: 0;
    display: flex;
    
}

.mainHome{
    width: 85%;
    background-color: violet;
}
.headerHome{
    width: 100%;
    height: 10%;
    background-color: aqua;
}
.containerHome{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: tomato;
}
.sectionLeft{
width: 50%;
height: 100%;
background-color: yellowgreen;
overflow: auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: start;
}

.sectionRight{
    width: 50%;
height: 100%;
    background-color: wheat;
    overflow: auto;
}

/*---------------------------------- SECTION IZQUIERDA -----------------------------------*/
.containerCards{
    width: 97%;
    height: auto;
    margin-top: 0.5em;
    background-color: tomato;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    
}
.card{
    width: 32%;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.13);
}

.Table{
    margin-top: 0.5em;
    width: 97%;
    height: auto;
    min-height: 300px;
    background-color: rgb(55, 55, 83);
}
.separator{
    width: 100%;
    height: 0.5em;
    margin-top: 0.5em;
}

/*---------------------------------- SECTION DERECHA -----------------------------------*/


.Graphic{
    margin-top: 0.5em;
    width: 97%;
    height: auto;
    min-height: 300px;
    background-color: rgb(55, 55, 83); 
}
.ContainerParameters{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
background-color: rgb(109, 9, 9);
}
.CardParameters{
    margin: 0.5em;
    width: 30%;
    height: auto;
    min-height: 260px;
    background-color: royalblue;
}