#root {
 
  --colorTitle: #1F3139;
  --colorSubtitle: #6A6A6A;
  --fondoBlanco: #FFFFFF;
  --contorno: #DEDCDC;
  --colorFondo: #F2F2F2;
  --blancoGris: #F8F8F8;
}

body {
  margin: 0;
  overflow: hidden;
  min-width: 700px;
}
.container-Logo{

  width: 100vw;
  height: 100vh;
  display: flex;
 flex-direction: column;
 align-items: center;

}
.buttonApp{
  margin-top: 7em;
  width: 15rem;
  height: 2rem;
  cursor: pointer;
  font-size: 15px;
  background-color: transparent;
  border: 1px solid var(--contorno);
  border-radius: 6px;
  transition: all 0.3s ease;
  padding: 8px 0px 30px;

}
.buttonApp:hover{
  background-color: var(--colorFondo);
  color: var(--colorTitle);
}
.buttonApp:active{
 scale:0.95;
}
.logoApp{
  margin-top: 8%;
  user-select: none;
  width: 30%;
}
#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.518);
  z-index: -1;
}
