.containerParameters{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--contorno);

    user-select: none;
}

.contentTop{
    
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-size: 1em;
    align-items: center;
    color: black;

 
}
p{
    margin: 0;
}
.iconCultivoCard{
    height: 50%;
    
    color: black;
}
.contentCenter{
    width: 80%;
    height: 60%;
    
    display: flex;
    flex-direction: row;
}
.line{
    width: 4px;
    height: 100%;
  
    background-color: #1F3139;
}
.infoCultivo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.containerText{
    width: 80%;
    margin-top: 0.5em;
   
}
.titleCardEspecie{
font-size: 13px;
color: #7D7D7D;
}
.valueCardEspecie{
font-size:16px;
color: #1F3139;
}
.contentBottom{
    width: 100%;
    height: 20%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.TitleCardPequeña{
    color: var(--colorTitle);
}


/* containerIconText de parametros*/

.containerIconText{
    display: flex;
    flex-direction: row;
    width: 100%;
    
    align-items: center;
}
.iconParametroCard{
    margin: 0.5em;
    margin-right: 1em;
}

.btnCardBottom{
    width: 60%;
    color: #1f3139bc;
    background-color: transparent;
    border: none;
    padding: 0.5em;
    border-radius: 8px;
    font-size: 13px;
    transition: all 0.3s;
    cursor: pointer;
}
.btnCardBottom:hover{
    color: #1f3139bc;
    background-color: #E4F0FF;
}
.btnCardBottom:active{
    scale: 0.9;
}

